@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i&display=swap');
*{font-family: 'Montserrat Alternates', sans-serif;};
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i&display=swap');
*{font-family: 'Montserrat', sans-serif;};
@import './mixins.scss';


.container-main {
    max-width: 1200px;
    margin: 0 auto;

    @include laptop {
        max-width: 768px;
    }
    @include tablet {
        max-width: none;
    }
}