@import '../../commonStyles/mixins.scss';


.info-wrapper {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    height: 412px;
    position: relative;
    
    @include laptop {
        max-width: 768px;
        width: 768px;
    }

    @include tablet {
        max-width: 100%;
        width: 100%;
        height: auto;
    }

    .background-img {
        display: flex;
        width: 100%;
        position: absolute;
        top:0;
        right: 0;
        bottom: 0;
        left: 0;

        @include laptop {
            display: none;
        }
    }
    .background-tablet-img {

        display: none;

        @include laptop {
            display: flex;
        }
        @include tablet {
            display: none;
        }
    }
    .background-mobile-img {

        display: none;

        @include tablet {
            display: flex;
            width: 100%;
            height: auto;
        }
        @include phone {
            display: flex;
            width: 100%;
            height: auto;
        }
    }

    .text-us-button {
        transform: rotate(-90deg);
        font-family: 'Montserrat Alternates', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 42px;
        text-align: center;
        align-items: center;
        color: #FFF9F9;
        position: absolute;
        width: 154px;
        height: 42px;
        bottom: 30px;
        right: -56px;
        background-color: #FFBA10;
        background: #00A3E6;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
        border-radius: 3px;
        border: none;
        outline: 0 !important;

        &:hover {
            cursor: pointer;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
        @include laptop {
            bottom: 0px;
            right: -56px;
        }

        @include tablet {
            display: none;
        }
    }

    .text-wrapper {
        display: flex;
        flex-direction: column;
        max-width: 438px;
        margin: 93px 0 93px 46px;
        z-index: 10;

        @include laptop {
            display: none;
        }

        .title {
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            align-items: center;
            text-transform: uppercase;

            color: #FFFFFF;
        }

        .text {
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            align-items: center;

            color: #FFFFFF;
        }
    }
}

.text-wrapper-tablet {
    display: none;
    flex-direction: column;
    padding: 0 25px 0 25px ;
    margin: 0 auto;
    max-width: 768px;
    padding: 24px 0 0 0;

    @include tablet {
        background: #E6F6FD;
        padding: 0;
        max-width: 100%;
        width: 100%;
        height: auto;
    }
    @include phone {
        max-width: 100%;
        width: 100%;
        height: auto;
        background: #E6F6FD;
        padding: 0;
    }

    .title {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        align-items: center;
        text-transform: uppercase;

        color: #000000;

        @include tablet {
            margin: 14px;
        }
    }

    .text {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        align-items: center;

        color: #000000;

        @include tablet {
            margin: 17px 14px;
        }
    }

    @include laptop{
        display: flex;
    }
}