@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

.news {
    &__title {
        text-align: center;
        color: #00A3E6;
        font-family: 'Montserrat', sans-serif;
        font-size: 1rem;
        line-height: 20px;
        text-transform: uppercase;
    }
}