@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

.slider {
    margin: 0 auto;
    margin-bottom: 100px;

    &__element {
        height: 492px;
        background-repeat: repeat;
        background-position: 50%;
        background-size: cover;
        position: relative;
        // z-index: 1;
    }

    &__img {
        width: 100%;
        height: auto;
        // position: relative;
    }

    &__text-block {
        position: absolute;
        bottom: 0;
        z-index: 2;
        width: 100%;
        background: rgba(255, 255, 255, .7);

        img {
            display: block;
            margin: 0 auto;
        }
    }

    &__text {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #000000;
        padding: 30px 45px 10px 45px;
        // position: absolute;

        &--mob {
            display: none;
        }
    }
    
    &__button {
        width: 145px;
        height: 32px;
        display: block;
        margin: 0 auto;
        background: #FDC940;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
        border-radius: 3px;
        font-size: 14px;
        line-height: 17px;
        font-family: 'Montserrat', sans-serif;
        color: #000;
        border: none;
        transition: .2s;
        // position: absolute;

        &:focus, &:active {
            outline: 0;
        }

        &:hover {
            cursor: pointer;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }

    .slick-next {
        width: 36px;
        height: 36px;
        transform: translate(-200%, -200%);
        z-index: 2;
        background: rgba(255, 255, 255, 0.48);
        border-radius: 50%;
        padding-left: 3px;
        position: absolute;
        right: 10px;
        top: 260px;

        &:hover {
            background: rgba(255, 255, 255, 0.48);
        }

        &:before {
            content: url('../../img/youtube-right.png');
        }
    }

    .slick-prev {
        width: 36px;
        height: 36px;
        transform: translate(200%, -200%);
        z-index: 2;
        background: rgba(255, 255, 255, 0.48);
        border-radius: 50%;
        padding-right: 3px;
        position: absolute;
        left: 10px;
        top: 260px;

        &:hover {
            background: rgba(255, 255, 255, 0.48);
        }

        &:before {
            content: url('../../img/youtube-left.png');
        }
    }

    .slick-dots {
        transform: translateY(160%);

        li {
            width: 8.5px;
            height: 8.5px;
            border-radius: 50%;
            border: 1px solid #C4C4C4;

            button::before {
                display: none;
            }
        }

        .slick-active {
            background: #E5E5E5;
        }
    }
}

@media screen and (max-width: 768px) {
    .slider {
        &__text {
            padding-top: 15px;
        }
    }        
}

@media screen and (max-width: 420px) {
    
}