@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

.slider {
    // width: 85%;
    margin: 0 auto;
    margin-bottom: 100px;

    .slider-element {
        height: 492px;
        background: url('../../img/news.png') 50% no-repeat;
        background-size: cover;
        position: relative;
        z-index: 1;

        .slider-text-block {
            position: absolute;
            bottom: 0;
            z-index: 2;
            width: 100%;
            height: 154px;
            background: rgba(255, 255, 255, .5);

            .slider-text--mob {
                display: none;
            }

            .slider-text {
                font-family: 'Montserrat', sans-serif;
                font-size: 14px;
                line-height: 17px;
                text-align: center;
                color: #000000;
                padding: 30px 45px 10px 45px;
            }
            
            .slider-button {
                width: 145px;
                height: 32px;
                display: block;
                margin: 0 auto;
                background: #FDC940;
                box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
                border-radius: 3px;
                font-size: 14px;
                line-height: 17px;
                font-family: 'Montserrat', sans-serif;
                color: #000;
                border: none;

                &:focus, &:active {
                    outline: 0;
                }

                &:hover {
                    cursor: pointer;
                    opacity: .7;
                }
            }
        }
    }

    .slider-element--green {
        background: rgb(23, 82, 23);
    }
    
    .slider-element--blue {
        background: rgb(115, 115, 226);
    }
    
    .slider-element--orange {
        background: rgb(228, 179, 89);
    }
    
    .slider-element--black {
        background: rgb(39, 37, 37);
    }
    
    .slider-element--yellow {
        background: rgb(105, 105, 15);
    }

    .slick-next {
        width: 36px;
        height: 36px;
        transform: translate(-100%, -60%);
        z-index: 2;
        background: rgba(255, 255, 255, 0.48);
        border-radius: 50%;
        padding-left: 3px;

        &:hover {
            background: rgba(255, 255, 255, 0.48);
        }

        &:before {
            content: url('../../img/youtube-right.png');
        }
    }

    .slick-prev {
        width: 36px;
        height: 36px;
        transform: translate(100%, -60%);
        z-index: 2;
        background: rgba(255, 255, 255, 0.48);
        border-radius: 50%;
        padding-right: 3px;

        &:hover {
            background: rgba(255, 255, 255, 0.48);
        }

        &:before {
            content: url('../../img/youtube-left.png');
        }
    }

    .slick-dots {
        li {
            width: 8.5px;
            height: 8.5px;
            border-radius: 50%;
            border: 1px solid #C4C4C4;

            button::before {
                display: none;
            }
        }

        .slick-active {
            background: #E5E5E5;
        }
    }
}

@media screen and (max-width: 768px) {
    .slider {
        .slider-element {
            .slider-text-block {
                .slider-text {
                    padding-top: 15px;
                }
            }
        }
    }
}

@media screen and (max-width: 420px) {
    .slider {
        .slider-element {
            .slider-text-block {
                .slider-text {
                    display: none;
                }

                .slider-text--mob {
                    display: block;
                    padding: 25px 0 25px 0;
                }
            }
        }
    }
}