.writeToUs-modal-background {
    display: flex; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4);

    .writeToUs-modal-wrapper {
        display: flex;
        background: #FFFFFF;
        flex-direction: column;
        border: 1px solid #E5E5E5;
        box-sizing: border-box;
        border-radius: 2px;
        padding: 20px;
        margin: 20% 5%;
        position: fixed;
        bottom: -200px;
        left: 25%;
    
        .writeToUs-modal-container {
            width: 587px;
            height: 500px;
            background: #FFFFFF;
            border: 1px solid #E5E5E5;
            box-sizing: border-box;
            border-radius: 2px;
            padding: 26px 0 34px 24px;
            position: relative;
    
            .writeToUs-title {
                font-family: 'Montserrat Alternates', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 17px;
                margin-bottom: 23px;
    
                color: #00A3E6;
            }
    
            .full-name {
                display: flex;
    
                .name {
                    font-family: 'Montserrat Alternates', sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 12px;
                    color: #C4C4C4;
                    margin-right: 12px;
                    margin-bottom: 12px;

                    ::placeholder {
                        font-family: 'Montserrat Alternates', sans-serif;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 17px;
                        color: #000000;
                    }
    
                    .name-input {
                        width: 176px;
                        height: 25px;
                        background: #FFFFFF;
                        border: 1px solid #E5E5E5;
                        box-sizing: border-box;
                        border-radius: 2px;
                        padding: 2px;
                        margin-top: 5px;
                    }
                }
                .surname {
                    font-family: 'Montserrat Alternates', sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 12px;
                    color: #C4C4C4;

                    ::placeholder {
                        font-family: 'Montserrat Alternates', sans-serif;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 17px;
                        color: #000000;
                    }
    
                    .surname-input {
                        width: 176px;
                        height: 25px;
                        background: #FFFFFF;
                        border: 1px solid #E5E5E5;
                        box-sizing: border-box;
                        border-radius: 2px;
                        padding: 2px;
                        margin-top: 5px;
                    }
                }
            }
            .phone-number {
                display: flex;
                flex-direction: column;
                font-family: 'Montserrat Alternates', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 12px;
                color: #C4C4C4;
                margin-right: 12px;
                margin-bottom: 12px;

                ::placeholder {
                    font-family: 'Montserrat Alternates', sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 17px;
                    color: #000000;
                }
    
                .phone-input {
                    width: 176px;
                    height: 25px;
                    background: #FFFFFF;
                    border: 1px solid #E5E5E5;
                    box-sizing: border-box;
                    border-radius: 2px;
                    padding: 3px;
                    margin-top: 5px;
                }
            }
    
            .email {
                display: flex;
                flex-direction: column;
                font-family: 'Montserrat Alternates', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 12px;
                color: #C4C4C4;
                margin-right: 12px;
                margin-bottom: 30px;

                ::placeholder {
                    font-family: 'Montserrat Alternates', sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 17px;
                    color: #000000;
                }
    
                .email-input {
                    width: 176px;
                    height: 25px;
                    background: #FFFFFF;
                    border: 1px solid #E5E5E5;
                    box-sizing: border-box;
                    border-radius: 2px;
                    padding: 3px;
                    margin-top: 5px;
                }
            }
            .massage-text {
                display: flex;
                flex-direction: column;
                font-family: 'Montserrat Alternates', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 12px;
                color: rgb(153, 130, 130);
                margin-right: 12px;
                margin-bottom: 30px;
                ::placeholder {
                    font-family: 'Montserrat Alternates', sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 17px;
                    color: #000000;
                }

                .massage-text-area {
                    position: absolute;
                    width: 535px;
                    height: 156px;
                    background: #FFFFFF;
                    border: 1px solid #E5E5E5;
                    box-sizing: border-box;
                    border-radius: 2px;
                    padding: 3px;
                }
            }
    
            .send-buttons{
                display: flex;
                position: absolute;
                bottom: 30px;
                left: 25px;
    
                .send-massage {
                    width: 239px;
                    height: 32px;
                    background: #00A3E6;
                    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
                    border-radius: 3px;
                    border: none;
                    outline: 0 !important;
                    margin-right: 12px;
                    font-family: 'Montserrat Alternates', sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 17px;
    
                    &:active {
                        background: rgb(189, 146, 39);
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    }
    
                    &:hover {
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                        cursor: pointer;
                    }
                    
                }
                .cancel {
                    width: 118px;
                    height: 32px;
                    background: #DCDCDC;
                    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
                    border-radius: 3px;
                    border: none;
                    outline: 0 !important;
                    font-family: 'Montserrat Alternates', sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 17px;
    
                    &:active {
                        background: rgb(156, 156, 156);
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    }
    
                    &:hover {
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                        cursor: pointer;
                    }
                }
            }
        }
    }
}