@import '../../commonStyles/mixins.scss';


.tasks-wrapper {
    display: flex;
    flex-direction: column;
    padding: 60px 44px;
    max-width: 1111px;
    z-index: 1;
    margin: 0 auto;

    @include laptop {
        padding: 60px 25px;
    }

    @include tablet {
        padding: 0 16px;
    }

    .task-title {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        /* identical to box height */

        display: flex;
        align-items: center;
        text-align: center;
        text-transform: uppercase;

        color: #00A3E6;

        @include tablet {
            justify-content: center;
        }
        @include phone {
            justify-content: center;
        }
    }

    .task-list {
        display: flex;
        flex-wrap: wrap;
        max-width: inherit;
        height: 300px;
        overflow: hidden;
        justify-content: space-between;
        margin-bottom: 46px;

        @include laptop {
            height: auto;
        }
        @include tablet {
            justify-content: center;
        }
        @include phone {
            justify-content: center;
        }

        .task {
            display: flex;
            width: 280px;
            height: 70px;
            justify-content: space-between;
            margin: 11px 45px 11px 0 !important;

            @include laptop {
                width: 321px;
                height: 59.51px;
                margin: 11px 0 11px 0 !important;
                justify-content: unset;
            }
            @include tablet {
                margin-bottom: 20px !important;
                height: 70px;
            }

            img {
                margin-right: 25px;
            }
        }

    }

    .buttons {
        display: flex;
        justify-content: space-between;

        @include tablet {
            flex-direction: column;
            align-items: center;
        }

        .char-contrib {

            width: 285px;
            height: 51px;
            background: #00A3E5;
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
            border-radius: 3px;
            border: 0;
            outline: 0 !important;
            margin-right: 127px;
        
            &:hover {
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                cursor: pointer;
            }

            @include laptop {
                width: 220px;
                margin-right: 29px;
            }

            @include tablet {
                margin-bottom: 20px;
                width: 288px;
                height: 51px;
                margin-right: 29px;
            }

        }
        .signIn {

            width: 285px;
            height: 51px;
            background: #FDC940;
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
            border-radius: 3px;
            border: 0;
            outline: 0 !important;
            margin-right: 127px;
        
            &:hover {
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                cursor: pointer;
            }

            @include laptop {
                width: 220px;
                margin-right: 29px;
            }

            @include tablet {
                margin-bottom: 20px;
                width: 288px;
                height: 51px;
                margin-right: 29px;
            }

        }
        .help {

            width: 285px;
            height: 51px;
            background: #FF621F;
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
            border-radius: 3px;
            border: 0;
            outline: 0 !important;
        
            &:hover {
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                cursor: pointer;
            }

            @include laptop {
                width: 220px;
                
            }

            @include tablet {
                width: 288px;
                height: 51px;
            }

        }
    }
}