// colors:
$color-light:#00A3E6;
$color-attention: #FDC940;
$color-black: #000;
$color-background-light: #E6F6FD;

// fonts:
@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates|Montserrat:300,400,500,700&display=swap&subset=cyrillic-ext');

body {
    font-family: 'Montserrat', sans-serif;
}

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
}

.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__colored {
        background-color: $color-background-light;
    }

    &__article {
        text-align: center;
        font-weight: bold;
        font-size: 16px;
        text-transform: uppercase;
        line-height: 20px;
        color: $color-light;
        margin: 6px 0 19px;
    }

    &__container {
        width: 100%;
        max-width: 1110px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__row {
        display: flex;
        width: 100%;
    }

    &__col {
        display: flex;
        flex-direction: column;
    }

    &__col--w-50 {
        width: 50%;
    }

    &__col--w-100 {
        width: 100%;
    }
}

.carousel {
    &__image {
        width: 100%;
        object-fit: cover;

        &--main {
            height: 382px;
        }

        &--preview {
            height: 172px;
        }
    }

    &__wrap {
        height: 100%;

        &--main {
            padding: 27px 0 27px 112px;
        }

        &--preview {
            padding: 3px 15px 0 24px;
        }
    }

    &__article {
        font-size: 14px;
        line-height: 17px;
        font-weight: 400;
        text-transform: uppercase;
        &--main {
            margin-bottom: 29px;
        }
        &--preview {
            margin-bottom: 16px;
        }
    }

    &__paragraph {
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 16px;
    }

    &__button {
        background-color: $color-attention;
        padding: 6px 32px 9px;
        font-size: 14px;
        line-height: 17px;
        color: $color-black;
        font-family: inherit;
        text-decoration: none;
        font-family: 'Montserrat Alternates', sans-serif;
        border-radius: 3px;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
        display: inline-block;
        transition: .2s;

        &:hover {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

        &--main {
            margin-top: 43px;
        }

        &--preview {
            margin-top: 3px;
            margin-bottom: 6px;
        }
    }

    &__item {
        &--main {
            
        }
        &--preview {
            margin-top: 38px;
        }
    }
}

ul.slick-dots li button:before {
    counter-increment: list;
    content: counter(list);
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
}

ul.slick-dots li.slick-active button:before {
    font-weight: 700;
    font-size: 16px;
}

ul.slick-dots {
    counter-reset: list;
}