.header-wrapper {
    display: flex;
    padding: 7px 26px 9px 26px;
    justify-content: space-between;

    .left-side {
        display: flex;
        font-family: Montserrat Alternates;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        display: flex;
        align-items: center;
        text-transform: uppercase;

color: #00A3E6;
    }
    .right-side {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        width: 570px;

        .contact-info {
            display: flex;
            margin-right: 20px;

            .social {
                display: flex;
                margin-right: 20px;

                &:last-child {
                    margin-right: 0;
                }
            }
            .callback {
                display: flex;
                flex-direction: column;
            }
        }
        .header-menu {
            display: flex;
            padding-top: 23px;
            border-top: 1px solid #DCDCDC;
            align-items: center;

            &:last-child {
                margin-right: 0;
            }

            a {
                margin-right: 30px;
                text-decoration: none;
                font-family: Montserrat Alternates;
                font-size: 14px;
                line-height: 17px;
                align-items: center;
                text-align: center;

                color: #000000;
            }
        }
    }

}